<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="appSugerencias.Properties.Settings.ConexionDB1" connectionString="Dsn=mysqlDatos;server=localhost;uid=root;database=db1;port=3306" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.3" newVersion="5.5.13.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
